* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray0: #fff;
    --gray1: #d8d8da;
    --grey2: #999;
    --black:#000;
    --gradient-blue: radial-gradient(61.04% 89.69% at 100% 100%, rgba(200, 250, 255, 0.08) 0%, rgba(28, 210, 229, 0.08) 40.63%, rgba(28, 210, 229, 0) 100%),
        radial-gradient(43.78% 64.34% at 60.31% 100%, rgba(23, 74, 228, 0.08) 0%, rgba(23, 74, 228, 0) 100%),
        linear-gradient(180deg, rgba(23, 74, 228, 0) 29.44%, rgba(23, 74, 228, 0.06) 100%),
        linear-gradient(90deg, #F3F3F7 0%, #EBF0F9 100%);
}

/* .light {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
} */

/* body {
    background-color: var(--bg-white);
    color: #000;
    background: radial-gradient(rgba(80, 78, 78, 0.1) 2px, transparent 0);
    background-size: 25px 25px;
    background-position: -19px -19px;
    min-height: 100vh;
} */

body{
    background:
    radial-gradient(rgba(80, 78, 78, 0.1) 2px, transparent 0),
        linear-gradient(90deg, #F3F3F7 0%, #EBF0F9 100%),
        radial-gradient(61.04% 89.69% at 100% 100%, rgba(200, 250, 255, 0.4) 0%, rgba(28, 210, 229, 0.4) 40.63%, rgba(28, 210, 229, 0) 100%),
        radial-gradient(43.78% 64.34% at 60.31% 100%, rgba(23, 74, 228, 0.4) 0%, rgba(23, 74, 228, 0) 100%);
    background-size: 25px 25px, auto, 25px 25px, 25px 25px;
    background-position: -19px -19px, 0 0, -19px -19px, -19px -19px;
    animation: loading 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    opacity: 0;
}
@keyframes loading {
    100% {
        opacity: 1;
        transform: none;
    }
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.body-small{
    color: var(--grey2);
    font-size: medium;
}

.navbar{
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    padding: 8px;
    border-radius: 6px;
    list-style-type: none;
    transition: all .4s;
}

.navbar-item svg {
    width: 25px;
}

.navbar-item:hover{
    background-color: var(--gray1);
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}


form{
    background-color: var(--gray0);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 82, .15);
    border-radius: 6px;
    display: flex;
    width: 600px;
    margin: 0 auto;
}


input {
    border-radius: 6px;
    padding: 10px;
    font-size: 17px;
    font-weight: 300;
    border: none;
    display: inline-block;
    flex: 6 1 auto;
}


input:focus{
    outline: 0;
}

input::placeholder{
    color: var(--grey2);
}

.btn {
    background-color: var(--gray0);
    color: var(--black);
    font-weight: 500;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, .05);
    flex: 1 1 auto;
    transition: all .2s ease-in-out;
}

.btn:hover {
    color: var(--gray0);
    background-color: #000;
}

.btn:active{
    color: var(--gray0);
    background-color: var(--grey2);
    transition: all .2s;
}

.btn:disabled{
    color: var(--grey2);
    background-color: var(--gray0);
    cursor: default;
}


.container-btn{
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 600px;
    gap: 10px;
    justify-content: center;
}

.btn-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey2);
    fill: var(--grey2);
    background-color: var(--gray1);
    gap: 3px;
    padding: 10px;
    border-radius: 6px;
    outline: 0;
    border: 0;
    transition: all .2s;
}

.btn-secondary:hover{
    color: var(--black);
    fill: var(--black);
    cursor: pointer;
}
@media (max-width: 700px) {
    form {
        flex-direction: column;
        width: 100%;
    }
    .btn{
        border-top: 1px solid rgba(0, 0, 0, .05);
        border-radius: 0px 0px 6px 6px;
    }
    .container-btn{
        flex-direction: column;
        width: 100%;
    }
    .btn-secondary{
        width: 100rem;
    }
}

.date{
    background-color: #1b1b1b;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.item-tarea{
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    background-color: var(--black);
    transition: all .25s;
}
.item-tarea:hover {
    background: #111111;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 82, .5);
}

.scs-task{
    text-decoration: line-through;
}

.scs-btn{
    display: inline;
    background-color: rgb(235, 255, 234);
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.dlt-btn{
    background-color: rgb(250, 226, 226);
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}