* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    background-image: radial-gradient(rgba(80, 78, 78, 0.1) 2px, transparent 0);
    background-size: 25px 25px;
    background-position: -19px -19px;
}

.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scs-task{
    text-decoration: line-through;
}

form{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 82, .15);
    border-radius: 6px;
    overflow: hidden;
}

input {
    border-radius: 6px;
    padding: 10px;
    font-size: 17px;
    font-weight: 300;
    border: none;
}

input:focus{
    outline: 0;
}

.btn {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    padding: 10px;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
    border-left: 1px solid rgba(0, 0, 0, .05);
}

.btn:hover {
    color: #fff;
    background-color: #000;
}

.date{
    background-color: #2d2f35;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.item-tarea{
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(19, 29, 37);
}
.item-tarea:hover {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(19, 29, 37);
    background-image: radial-gradient(rgb(80, 78, 78) 1px, transparent 0);
    background-size: 13px 13px;
    background-position: -13px -13px;
    outline: 2px solid red;
}

.scs-btn{
    display: inline;
    background-color: rgb(190, 255, 185);
    border: none;
    padding: 10px;
    border-radius: 50px;
}
.dlt-btn{
    background-color: rgb(255, 206, 205);
    border: none;
    padding: 10px;
    border-radius: 50px;
}